.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-start {
  justify-content: start;
}
.justify-content-end {
  justify-content: end;
}
.justify-content-space-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}


/* gaps */
.gap-1 {
    gap: calc(1* 0.4rem);
}
.gap-2 {
    gap: calc(2* 0.4rem);
}
.gap-3 {
    gap: calc(3* 0.4rem);
}
.gap-4 {
    gap: calc(4* 0.4rem);
}
.gap-5 {
    gap: calc(5* 0.4rem);
}