
body {
  background-color: rgba(0, 0, 0, 0.856);
  color: white;
  font-family: "Times New Roman", Times, serif;
}

main {
}

#h1Title {
  text-align: center;
}

#userSelection {
  position: relative !important;
  bottom: -25px !important;
}

.radio {
}

#genres {
  display: flex !important;
  flex-direction: row !important;
  justify-content: space-between !important;
}

#city {
  margin-right: 5px !important;
  margin-left: 5px !important;
}

input[type="radio"] {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50% !important;
  border: 2px solid #000 !important;
  margin-right: 10px !important;
}

#location {
  display: flex !important;
  flex-direction: row !important;
}

#featureResults {
  position: relative;
  margin-top: 50px;
  /* width: 400px; */
  /* margin-left: 40% ; */
}

#results {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(4, 1fr) ; */
  align-content: center;
  padding: 60px;
}

#trending {
  text-align: center;
  position: relative;

  background-color: rgba(0, 0, 0, 0.486);
  width: 1000px;
  height: 500px;
  margin: auto;
  bottom: 650px;
}

#event1 {
  position: relative;
  top: 20px;
  background-color: white;
  width: 250px;
  height: 350px;
  margin: 50px;
}

#event2 {
  position: relative;
  bottom: 380px;
  left: 30%;
  background-color: white;
  width: 250px;
  height: 350px;
  margin: 50px;
}

#event3 {
  position: relative;
  bottom: 780px;
  left: 60%;
  background-color: white;
  width: 250px;
  height: 350px;
  margin: 50px;
}

.concert-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background: #333;
  color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  /* margin: 1rem;
  width: 275px; */
}

.trendingImages {
  width: 50px;
  /* border-radius: 50%; */
  border: 2px solid;
}

.concert-info {
  width: 70%;
  padding: 0 1rem;
}

.concert-date {
  font-size: 1.2rem;
  color: #ccc;
  margin-bottom: 1rem;
}

#googlemap {
  position: relative;
  bottom: 350px;
}

#map {
  position: relative;
}

nav {
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.navbar__item {
  color: #fff;
  flex: 1;
  text-align: center;
  padding: 1rem;
}
